body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
#intro{
  font-size: 4em;
  font-weight: 100;
}
#about{
  font-size: 1.5em;
  font-weight: 500;
}
#about2{
  font-size: 4.5em;
  font-weight: 600;
}
#find{
  font-size: 4em;
  font-weight: 100;
}
#blog{
}
.highlight{
  color: red;
}
